<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar eventos</title>

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!--estilos-->
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/forms.css">
    
    <!-- fonte family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- icons -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <script src="https://kit.fontawesome.com/e2a2c1e4a6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-content">
        <header class="header">
            <nav class="header__menu navbar navbar-expand-lg navbar-dark">
                <div class="menu-container flex-column align-items-start">
                    <div class="header__superior">
                        <div class="header__logo">
                            <a href="index.html" class="navbar-brand">
                                <img src="img/logo.png" alt="Logo">
                            </a>
                        </div>

                        <div class="header__pesquisa">
                            <form class="d-flex" id="search">
                                <input type="text" type="search" placeholder="Eventos em..." aria-label="Search">
                            </form>
                        </div>

                        <div class="header__cadastro">
                            <a id="eventoLink" class="nav-link" href="cadastro-evento.html">
                                <button type="button">Crie seu evento</button>
                            </a>
                            <a id="loginLink" class="nav-link" data-bs-toggle="modal" data-bs-target="#modalLogin" aria-current="page" href="#">
                                <button type="button">Entrar</button>
                            </a>
                            <a id="cadastroLink" class="nav-link" data-bs-toggle="modal" data-bs-target="#modalCadastro" aria-current="page" href="#">
                                <button type="button">Cadastre-se</button>
                            </a>
                        </div>  
                    </div>
    
                    <div class="header__inferior collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="menu-list navbar-nav">
                            <li class="nav-item">
                                <a href="index.html" class="nav-link">Tudo</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Em alta</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Eventos em São Paulo</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Sobre nós</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!--modal login-->
            <div class="modal fade" id="modalLogin" aria-labelledby="modalLogin" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-tittle fs-5">Login</h2>
                        </div>
                        <div class="modal-body">
                            <form class="form">
                                <div class="form-item">
                                    <label for="emailLoginInput">
                                        Email
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-regular fa-user"></i>
                                        </span>
                                        <input type="text" id="emailLoginInput" class="form-control" placeholder="Digite seu email">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="senhaLoginInput">
                                        Senha
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-solid fa-lock"></i>
                                        </span>
                                        <input type="password" id="senhaLoginInput" class="form-control" placeholder="Digite sua senha">
                                    </div>
                                </div>
                                <div class="alert" id="alert" role="alert" style="display: none"></div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="fazerLogin()" class="btn btn-primary">Entrar</button>
                            <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--modal cadastro-->
            <div class="modal fade" id="modalCadastro" aria-labelledby="modalCadastro" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title fs-5">Cadastro de usuário</h2>
                        </div>
                        <div class="modal-body">
                            <div class="d-none alert alert-dismissible fade alert-modal-cadastro" role="alert"></div>
                            <form class="form">
                                <div class="form-item">
                                    <label for="nomeCadastroInput">
                                        Nome
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-regular fa-user"></i>
                                        </span>
                                        <input type="text" id="nomeCadastroInput" class="form-control" placeholder="Digite seu nome completo">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="cpfCadastroInput">
                                        CPF
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-regular fa-file"></i>
                                        </span>
                                        <input type="text" id="cpfCadastroInput" class="form-control" placeholder="Digite seu CPF">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="usuarioCadastroInput">
                                        Usuário
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-solid fa-at"></i>
                                        </span>
                                        <input type="text" id="usuarioCadastroInput" class="form-control" placeholder="Digite seu nome de usuário">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="emailCadastroInput">
                                        Email
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-regular fa-envelope"></i>
                                        </span>
                                        <input type="text" id="emailCadastroInput" class="form-control" placeholder="Digite seu email">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="telefoneCadastroInput">
                                        Telefone
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-solid fa-phone"></i>
                                        </span>
                                        <input type="text" id="telefoneCadastroInput" class="form-control" placeholder="Digite seu telefone">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="senhaCadastroInput">
                                        Senha
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-solid fa-lock"></i>
                                        </span>
                                        <input type="password" id="senhaCadastroInput" class="form-control" placeholder="Digite sua senha">
                                    </div>
                                </div>

                                <div class="alert" role="alert" id="alert" style="display: none;">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="cadastrarUsuario()" class="btn btn-primary">Confirmar</button>
                            <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            
            <div class="form-container">
                <form class="form">
                    <div class="alert" role="alert" id="alert-evento" style="display: none;">
                    </div>
                    <div class="secao-form">
                        <h5>Dados do evento</h5>
                        <span>Insira os dados relativos ao seu evento</span>
                    </div>
                    <div class="form-item">
                        <label>Nome do evento *</label>
                        <div class="input-group">
                            <input type="text" placeholder="Digite o nome do evento" class="form-control" id="nomeInput" required>
                        </div>
                    </div>
                    <div class="form-item input-group">
                        <label>Descrição *</label>
                        <div class="input-group">
                            <textarea type="text" placeholder="Digite a descrição do evento" class="form-control" id="descricaoInput" required></textarea>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>
                            <span>Banner</span>
                            <span>Insira a url da imagem do seu banner (opcional)</span>
                        </label>
                        <div class="input-group">
                            <input type="text" placeholder="Digite o caminho do banner" class="form-control" id="urlBannerInput">
                        </div>
                    </div>
                    
                    <div class="secao-form">
                        <h5>Data e horário</h5>
                        <span>Insira a programação do seu evento</span>
                    </div>
                    <div class="form-item">
                        <label>
                            <span>Data de início *</span>
                            <span>Insira a data em que seu evento começa. Caso ele ocorra com frequência, marque a opção recorrente</span>
                        </label>
                        <div class="input-group">
                            <span class="input-group-text flex-nowrap" id="iconeLink">
                                <i class="fi fi-rr-calendar"></i>
                            </span>
                            <input type="date" class="form-control" id="dataInicioInput" placeholder="Data de início" required>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="recorrente">
                            <input type="checkbox" name="Recorrente" placeholder="Recorrente"/> Recorrente
                        </div>
                    </div>
                    <div class="form-item">
                        <label>
                            <span>Data de fim</span>
                            <span>Desconsidere caso seu evento acabe no mesmo dia</span>
                        </label>
                        <div class="input-group">
                            <span class="input-group-text flex-nowrap" id="iconeLink">
                                <i class="fi fi-rr-calendar"></i>
                            </span>
                            <input type="date" class="form-control" id="dataFimInput" placeholder="Data de término">
                        </div>
                    </div>
                    <div class="form-item">
                        <label>Horário de início *</label>
                        <div class="input-group">
                            <input type="time" class="form-control" id="horarioInicioInput" placeholder="Horário de início" required>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>Horário de fim *</label>
                        <div class="input-group">
                            <input type="time" class="form-control" id="horarioFimInput" placeholder="Horário de término" required>
                        </div>
                    </div>
                    <div class="secao-form">
                        <h5>Ingressos</h5>
                        <span>Caso seu evento venda ingressos, insira as informações a seguir</span>
                    </div>
                    <div class="form-item">
                        <label>
                            <span>Valor</span>
                            <span>Insira o valor do ingresso comum</span>
                        </label>
                        <div class="input-group">
                            <span class="input-group-text flex-nowrap" id="iconeLink">
                                <i class="fi fi-rr-coins"></i>
                            </span>
                            <input type="number" placeholder="Digite o valor dos ingressos" class="form-control" id="valorInput">
                        </div>
                    </div>
                    <div class="form-item">
                        <label>
                            <span>Venda dos ingressos</span>
                            <span>Insira a url do site de venda dos ingressos</span>
                        </label>
                        
                        <div class="input-group">
                            <span class="input-group-text flex-nowrap" id="iconeLink">
                                <i class="fi fi-rr-link-alt"></i>
                            </span>
                            <input type="text" placeholder="Digite o link dos ingressos" class="form-control" id="urlIngressoInput">
                        </div>
                    </div>
                    <div class="secao-form">
                        <h5>Endereço</h5>
                        <span>Insira os dados relativos a localização do seu evento</span>
                    </div>
                    <div class="form-item">
                        <label>Rua *</label>
                        <div class="input-group">
                            <input type="text" placeholder="Digite a rua do endereço" class="form-control" id="ruaInput" required>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>Número *</label>
                        <div class="input-group">
                            <input type="number" placeholder="Digite o número do endereço" class="form-control" id="numeroInput" required>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>Bairro *</label>
                        <div class="input-group">
                            <input type="text" placeholder="Digite o bairro do endereço" class="form-control" id="bairroInput" required>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>Estado *</label>
                        <div class="input-group">
                            <input type="text" placeholder="Digite o estado do endereço" class="form-control" id="estadoInput" required>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>Cidade *</label>
                        <div class="input-group">
                            <input type="text" placeholder="Digite a cidade" class="form-control" id="cidadeInput" required>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>CEP *</label>
                        <div class="input-group">
                            <input type="text" placeholder="Digite o CEP do endereço" class="form-control" id="cepInput" required>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>Complemento</label>
                        <div class="input-group">
                            <input type="text" placeholder="Digite o Complemento do endereço" class="form-control" id="complementoInput" required>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>Categoria</label>
                        <div class="categorias">
                            <select name="select" class="form-select" id="categoriaInput">
                                <option value="Nenhuma">Nenhuma</option>
                                <option value="Educativo">Educativo</option>
                                <option value="Show">Show</option>
                                <option value="Esportes">Esportes</option>
                                <option value="Bazar">Bazar</option>
                                <option value="Restaurantes">Restaurantes e Bares</option>
                                <option value="Humor">Humor</option>
                              </select>
                        </div>
                    </div>
                    <span>Os campos com "*" são obrigatórios</span>
                    <button type="submit" class="btn btn-success" onclick="cadastrarEvento()">Cadastrar</button>
                </form>
            </div>
        </main>
        <footer class="content-footer">
            <div class="footer">
                <div class="footer__item">
                    <h4>Conteúdo e Eventos</h4>
                    <span>
                        <a href="index.html">Todos os eventos</a>
                    </span>
                    <span>
                        <a href="#">Eventos em alta</a>
                    </span>
                    <span>
                        <a href="#">Eventos em São Paulo</a>
                    </span>
                </div>
    
                <div class="footer__item">
                    <h4>Trabalhe conosco</h4>
                    <span>
                        <a href="#">Seja um organizador de eventos</a>
                    </span>
                    <span>
                        <a href="#">Contribua com a comunidade</a>
                    </span>
                </div>

                <div class="footer__item">
                    <h4>Quem somos</h4>
                    <span>
                        <a href="#">Sobre nós</a>
                    </span>
                    <span>
                        <a href="#">Contato e Suporte</a>
                    </span>
                </div>
            </div>
        </footer>
    </div>

    <script type="text/javascript" src="js/queries.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>