<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!--estilos e scripts-->
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/evento.css">

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <!--icons-->
    <script src="https://kit.fontawesome.com/e2a2c1e4a6.js" crossorigin="anonymous"></script>
</head>

<body onload="carregarEvento(new URL(location.href).searchParams.get('id'))">
    <div class="container-content">
        <header class="header">
            <nav class="header__menu navbar navbar-expand-lg navbar-dark">
                <div class="menu-container flex-column align-items-start">
                    <div class="header__superior">
                        <div class="header__logo">
                            <a href="index.html" class="navbar-brand">
                                <img src="img/logo.png" alt="Logo">
                            </a>
                        </div>

                        <div class="header__pesquisa">
                            <form class="d-flex" id="search">
                                <input type="text" type="search" placeholder="Eventos em..." aria-label="Search">
                            </form>
                        </div>

                        <div class="header__cadastro">
                            <a id="eventoLink" class="nav-link" href="cadastro-evento.html">
                                <button type="button">Crie seu evento</button>
                            </a>
                            <a id="loginLink" class="nav-link" data-bs-toggle="modal" data-bs-target="#modalLogin" aria-current="page" href="#">
                                <button type="button">Entrar</button>
                            </a>
                            <a id="cadastroLink" class="nav-link" data-bs-toggle="modal" data-bs-target="#modalCadastro" aria-current="page" href="#">
                                <button type="button">Cadastre-se</button>
                            </a>
                        </div>  
                    </div>
    
                    <div class="header__inferior collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="menu-list navbar-nav">
                            <li class="nav-item">
                                <a href="index.html" class="nav-link">Tudo</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Em alta</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Eventos em São Paulo</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Sobre nós</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!--modal login-->
            <div class="modal fade" id="modalLogin" aria-labelledby="modalLogin" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-tittle fs-5">Login</h2>
                        </div>
                        <div class="modal-body">
                            <form class="form">
                                <div class="form-item">
                                    <label for="emailLoginInput">
                                        Email
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-regular fa-user"></i>
                                        </span>
                                        <input type="text" id="emailLoginInput" class="form-control" placeholder="Digite seu email">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="senhaLoginInput">
                                        Senha
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-solid fa-lock"></i>
                                        </span>
                                        <input type="password" id="senhaLoginInput" class="form-control" placeholder="Digite sua senha">
                                    </div>
                                </div>
                            </form>
                            <div class="alert" id="alert" role="alert" style="display: none"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="fazerLogin()" class="btn btn-primary">Entrar</button>
                            <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--modal cadastro-->
            <div class="modal fade" id="modalCadastro" aria-labelledby="modalCadastro" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title fs-5">Cadastro de usuário</h2>
                        </div>
                        <div class="modal-body">
                            <form class="form">
                                <div class="form-item">
                                    <label for="nomeCadastroInput">
                                        Nome
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-regular fa-user"></i>
                                        </span>
                                        <input type="text" id="nomeCadastroInput" class="form-control" placeholder="Digite seu nome completo">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="cpfCadastroInput">
                                        CPF
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-regular fa-file"></i>
                                        </span>
                                        <input type="text" id="cpfCadastroInput" class="form-control" placeholder="Digite seu CPF">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="usuarioCadastroInput">
                                        Usuário
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-solid fa-at"></i>
                                        </span>
                                        <input type="text" id="usuarioCadastroInput" class="form-control" placeholder="Digite seu nome de usuário">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="emailCadastroInput">
                                        Email
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-regular fa-envelope"></i>
                                        </span>
                                        <input type="text" id="emailCadastroInput" class="form-control" placeholder="Digite seu email">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="telefoneCadastroInput">
                                        Telefone
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-solid fa-phone"></i>
                                        </span>
                                        <input type="text" id="telefoneCadastroInput" class="form-control" placeholder="Digite seu telefone">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="senhaCadastroInput">
                                        Senha
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-solid fa-lock"></i>
                                        </span>
                                        <input type="password" id="senhaCadastroInput" class="form-control" placeholder="Digite sua senha">
                                    </div>
                                </div>

                                <div class="alert hidden" role="alert" id="alert">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="cadastrarUsuario()" class="btn btn-primary">Confirmar</button>
                            <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="evento">
            <div class="row evento__image">
                <figure>
                    <img src="img/capa-evento.png" alt="Banner">
                </figure>
            </div>

            <div class="row evento__info">
                <div class="col-lg-8">
                    <h1 class="event-title">LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISCING ELIT</h1>
                    <p class="event-description-text">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                    <div class="event-categories">
                        <a href="#">Categoria</a>
                    </div>
                    <div class="event-organizer">
                        <img src="img/user-sem-foto.png" class="rounded-circle" alt="Organizer Image">
                        <div class="organizer-info align-self-center">
                            <span class="organizer-name ">Nome do organizador</span>
                            <span>Nível 80, 100 eventos</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 ingresso-and-options">
                    <div class="evento-options">
                        <div class="lembrete">
                            <button type="button">
                                <span>Lembrete</span>
                                <i class="fa-regular fa-bell"></i>
                            </button>
                        </div>
                        <div class="curtir">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>

                    <div class="card card-ingresso">
                        <div class="card-body">
                            <h4 class="card-title">Comprar ingressos</h4>
                            <p class="card-text">Valor: <span class="ticket-value">00,00</span></p>
                            <a href="#" class="btn btn-primary w-100">Acessar site</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="date-location">
                <h5>Quando e onde</h5>
                <div class="date-location__info">
                    <div class="info-box">
                        <div class="info-box-icon">
                            <i class="fa-regular fa-calendar"></i>
                        </div>
                        <div class="info-box-text">
                            <h5>Data e hora</h5>
                            <p class="event-date-time">Dia da semana, dia mês e ano, intervalo de tempo</p>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="info-box-icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="info-box-text">
                            <h5>Localização</h5>
                            <p class="event-location">Rua, bairro e número, endereço completo</p>
                        </div>
                    </div>
                </div>
                <div class="map-embed">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" style="border:0;"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434509147!2d144.95592631531534!3d-37.817209879751654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf0727f38f037cb6!2sConvention%20Center!5e0!3m2!1sen!2sus!4v1596410190285!5m2!1sen!2sus"
                            allowfullscreen="true"></iframe>
                    </div>
                </div>
            </div>

            <div class="event-description">
                <h5>Sobre este evento</h5>
                <p class="event-description-text1">Lorem ipsum dolor sit amet consectetur adipiscing elit. Lorem ipsum dolor sit amet consectetur
                    adipiscing elit. Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>

                <div class="event-extra-info">
                    <div class="extra-box">
                        <i class="fas fa-phone"></i>
                        <h6 class="telefone">Número de telefone</h6>
                    </div>
                    <div class="extra-box">
                        <i class="fas fa-building"></i>
                        <h6>Patrocinadores do evento</h6>
                    </div>
                    <div class="extra-box">
                        <i class="fas fa-clock"></i>
                        <h6>Duração</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="content-footer">
        <div class="footer">
            <div class="footer__item">
                <h4>Conteúdo e Eventos</h4>
                <span>
                    <a href="index.html">Todos os eventos</a>
                </span>
                <span>
                    <a href="#">Eventos em alta</a>
                </span>
                <span>
                    <a href="#">Eventos em São Paulo</a>
                </span>
            </div>

            <div class="footer__item">
                <h4>Trabalhe conosco</h4>
                <span>
                    <a href="#">Seja um organizador de eventos</a>
                </span>
                <span>
                    <a href="#">Contribua com a comunidade</a>
                </span>
            </div>

            <div class="footer__item">
                <h4>Quem somos</h4>
                <span>
                    <a href="#">Sobre nós</a>
                </span>
                <span>
                    <a href="#">Contato e Suporte</a>
                </span>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="js/queries.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>