<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!--estilos-->
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/index.css">

    <!-- fonte family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--icons-->
    <script src="https://kit.fontawesome.com/e2a2c1e4a6.js" crossorigin="anonymous"></script>
</head>
<body onload="buscarEventos()">
    <div class="container-content">
        <header class="header">
            <nav class="header__menu navbar navbar-expand-lg navbar-dark">
                <div class="menu-container flex-column align-items-start">
                    <div class="header__superior">
                        <div class="header__logo">
                            <a href="#" class="navbar-brand">
                                <img src="img/logo.png" alt="Logo">
                            </a>
                        </div>

                        <div class="header__pesquisa">
                            <form class="d-flex" id="search">
                                <input type="text" type="search" placeholder="Eventos em..." aria-label="Search">
                            </form>
                        </div>

                        <div class="header__cadastro">
                            <a id="eventoLink" class="nav-link" href="cadastro-evento.html">
                                <button type="button">Crie seu evento</button>
                            </a>
                            <a id="loginLink" class="nav-link" data-bs-toggle="modal" data-bs-target="#modalLogin" aria-current="page" href="#">
                                <button type="button">Entrar</button>
                            </a>
                            <a id="cadastroLink" class="nav-link" data-bs-toggle="modal" data-bs-target="#modalCadastro" aria-current="page" href="#">
                                <button type="button">Cadastre-se</button>
                            </a>
                        </div>  
                    </div>
    
                    <div class="header__inferior collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="menu-list navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Tudo</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Em alta</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Eventos em São Paulo</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Sobre nós</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <section class="header__image">
                <div class="evento-destaque">
                    <h2>Eventos em destaque</h2>
                    <figure>
                        <img src="img/capa-evento.png" alt="Banner">
                    </figure>
                </div>
            </section>

            <!--modal login-->
            <div class="modal fade" id="modalLogin" aria-labelledby="modalLogin" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-tittle fs-5">Login</h2>
                        </div>
                        <div class="modal-body">
                            <form class="form">
                                <div class="form-item">
                                    <label for="emailLoginInput">
                                        Email
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-regular fa-user"></i>
                                        </span>
                                        <input type="text" id="emailLoginInput" class="form-control" placeholder="Digite seu email">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="senhaLoginInput">
                                        Senha
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-solid fa-lock"></i>
                                        </span>
                                        <input type="password" id="senhaLoginInput" class="form-control" placeholder="Digite sua senha">
                                    </div>
                                </div>
                                <div class="alert" id="alert-login" role="alert" style="display: none"></div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="fazerLogin()" class="btn btn-primary">Entrar</button>
                            <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--modal cadastro-->
            <div class="modal fade" id="modalCadastro" aria-labelledby="modalCadastro" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title fs-5">Cadastro de usuário</h2>
                        </div>
                        <div class="modal-body">
                            <form class="form">
                                <div class="form-item">
                                    <label for="nomeCadastroInput">
                                        Nome
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-regular fa-user"></i>
                                        </span>
                                        <input type="text" id="nomeCadastroInput" class="form-control" placeholder="Digite seu nome completo">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="cpfCadastroInput">
                                        CPF
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-regular fa-file"></i>
                                        </span>
                                        <input type="text" id="cpfCadastroInput" class="form-control" placeholder="Digite seu CPF">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="usuarioCadastroInput">
                                        Usuário
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-solid fa-at"></i>
                                        </span>
                                        <input type="text" id="usuarioCadastroInput" class="form-control" placeholder="Digite seu nome de usuário">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="emailCadastroInput">
                                        Email
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-regular fa-envelope"></i>
                                        </span>
                                        <input type="text" id="emailCadastroInput" class="form-control" placeholder="Digite seu email">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="telefoneCadastroInput">
                                        Telefone
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-solid fa-phone"></i>
                                        </span>
                                        <input type="text" id="telefoneCadastroInput" class="form-control" placeholder="Digite seu telefone">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label for="senhaCadastroInput">
                                        Senha
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-text flex-nowrap" id="iconeLink">
                                            <i class="fa-solid fa-lock"></i>
                                        </span>
                                        <input type="password" id="senhaCadastroInput" class="form-control" placeholder="Digite sua senha">
                                    </div>
                                </div>
                                <div class="alert" id="alert-cadastro" role="alert" style="display: none"></div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="cadastrarUsuario()" class="btn btn-primary">Confirmar</button>
                            <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="content-main">
            <section class="categorias">
                <div class="container my-5">
                    <h2>Confira as categorias e tendências</h2>
                    <div class="row row-cols-2 row-cols-md-4 g-3">
                        <div class="col">
                            <div class="custom-button" data-category="Shows Musicais">Shows Musicais</div>
                        </div>
                        <div class="col">
                            <div class="custom-button" data-category="Restaurantes">Restaurantes</div>
                        </div>
                        <div class="col">
                            <div class="custom-button" data-category="Teatros e Artes">Teatros e Artes</div>
                        </div>
                        <div class="col">
                            <div class="custom-button" data-category="Games">Games</div>
                        </div>
                        <div class="col">
                            <div class="custom-button" data-category="Esportes">Esportes</div>
                        </div>
                        <div class="col">
                            <div class="custom-button" data-category="Bares">Bares</div>
                        </div>
                        <div class="col">
                            <div class="custom-button" data-category="Férias">Férias</div>
                        </div>
                        <div class="col">
                            <div class="custom-button" data-category="Negócios">Negócios</div>
                        </div>
                    </div>
                </div>
            </section>
            

            <section class="eventos">
                <div class="eventos__list" id="eventos-list-1">
                    <h3>Recomendados</h3>
                    <div class="row eventos-carousel-1">
                        <div class="col-sm-4 evento-card">
                            <div class="card">
                                <img src="img/capa-evento-2.png" class="card-img-top" alt="Imagem do evento">
                                <div class="card-body">
                                    <h5 class="card-title">Love Sessions Festival</h5>
                                    <h6 class="card-subtitle">14/12 - 19:00</h6>
                                    <p class="card-text">Evento imperdível que reúne o melhor da música eletrônica em uma experiência única e envolvente. Com dois dos maiores nomes da cena mundial como atrações principais, o festival promete momentos inesquecíveis para os amantes de música e festas</p>
                                    <div class="categories">
                                        <span class="card-link">Show</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 evento-card">
                            <div class="card">
                                <img src="img/capa-evento-3.png" class="card-img-top" alt="Imagem do evento">
                                <div class="card-body">
                                    <h5 class="card-title">VIRA BRASIL 2025</h5>
                                    <h6 class="card-subtitle">31/12/2025 - 17:00</h6>
                                    <p class="card-text">No dia 31 de dezembro, vamos transformar o Allianz Parque em um palco de avivamento, onde cada nota, cada palavra e cada voz ecoará com o poder de uma nova era!</p>
                                    <div class="categories">
                                        <span class="card-link">Show</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 evento-card">
                            <div class="card">
                                <img src="img/capa-evento-4.png" class="card-img-top" alt="Imagem do evento">
                                <div class="card-body">
                                    <h5 class="card-title">1% BETTER COM VEIGH</h5>
                                    <h6 class="card-subtitle">13/12 - 08:00</h6>
                                    <p class="card-text">Aqui a música encontra a alma e os versos se fundem com a vibração de cada pessoa. Aqui somos o 1% que se ergue, se une e se revela quem nós somos de verdade</p>
                                    <div class="categories">
                                        <span class="card-link">Show</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eventos__list" id="eventos-list-2">
                    <h3>Eventos em São Paulo</h3>
                    <div class="row eventos-carousel-2">
                        <div class="col-sm-4 evento-card">
                            <div class="card">
                                <img src="img/capa-evento-5.png" class="card-img-top" alt="Imagem do evento">
                                <div class="card-body">
                                    <h5 class="card-title">Réveillon Clube Chalezinho 2025</h5>
                                    <h6 class="card-subtitle">31/12 - 22:00</h6>
                                    <p class="card-text">A escolha perfeita para quem deseja celebrar a chegada do Ano Novo em grande estilo, com sofisticação, alegria e muita diversão. Conhecido por sua atmosfera acolhedora e seu charme único, o Chalezinho prepara uma noite inesquecível para brindar 2025 com os melhores momentos ao lado de amigos e família.</p>
                                    <div class="categories">
                                        <span class="card-link">Bares e Restaurantes</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 evento-card">
                            <div class="card">
                                <img src="img/capa-evento-6.png" class="card-img-top" alt="Imagem do evento">
                                <div class="card-body">
                                    <h5 class="card-title">BAILE DO ROND com RODRIGO DO CN</h5>
                                    <h6 class="card-subtitle">12/12 - 22:00</h6>
                                    <p class="card-text">Uma noite explosiva, repleta de energia, música contagiante e aquela vibe única que só um baile inesquecível pode oferecer. Com um dos nomes mais quentes da cena, Rodrigo do CN, o evento é a pedida perfeita para quem ama dançar e curtir ao máximo.</p>
                                    <div class="categories">
                                        <span class="card-link">Show</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 evento-card">
                            <div class="card">
                                <img src="img/capa-evento-7.png" class="card-img-top" alt="Imagem do evento">
                                <div class="card-body">
                                    <h5 class="card-title">Afonso Padilha: Ninguém Se Importa</h5>
                                    <h6 class="card-subtitle">13/12 - 21:00</h6>
                                    <p class="card-text">O comediante, humorista, roteirista, escritor e pagodeiro, Afonso Padilha, está pela sétima vez, rodando o Brasil com o seu novo solo “Ninguém Se Importa“ Em uma hora, Padilha fala sobre fim do mundo, amigos virando adultos e tendo filhos e seus medos e anseios! Como sempre, compartilhando situações e comentários a partir de suas experiências pessoais.</p>
                                    <div class="categories">
                                        <span class="card-link">Humor</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="content-footer">
            <div class="footer">
                <div class="footer__item">
                    <h4>Conteúdo e Eventos</h4>
                    <span>
                        <a href="index.html">Todos os eventos</a>
                    </span>
                    <span>
                        <a href="#">Eventos em alta</a>
                    </span>
                    <span>
                        <a href="#">Eventos em São Paulo</a>
                    </span>
                </div>
    
                <div class="footer__item">
                    <h4>Trabalhe conosco</h4>
                    <span>
                        <a href="#">Seja um organizador de eventos</a>
                    </span>
                    <span>
                        <a href="#">Contribua com a comunidade</a>
                    </span>
                </div>

                <div class="footer__item">
                    <h4>Quem somos</h4>
                    <span>
                        <a href="#">Sobre nós</a>
                    </span>
                    <span>
                        <a href="#">Contato e Suporte</a>
                    </span>
                </div>
            </div>
        </footer>
    </div>

    <script src="js/queries.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>