* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.destaques img {
    width: 100%;
}

.event-block {
    background-color: #ddd;
    height: 200px;
}

.category-block {
    background-color: #f8f9fa;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.recommended {
    background-color: #e63946;
}

.recent {
    background-color: #457b9d;
}

.organizer-block {
    background-color: #b7b7a4;
    height: 150px;
}

.ad-block {
    background-color: #1d3557;
    color: #fff;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa {
    border: 1px solid black; 
    border-radius: 20px; 
    overflow: hidden;
    gap: 10px;
    padding-bottom: 10px;
}

.btn {
    width: 80%;
}

.okt-img {
    width: 200px;
    height: 100px; /* Definindo uma altura fixa */
    object-fit: cover; /* Garantir que a imagem cubra o espaço disponível sem distorcer */
    border-radius: 8px; /* Opcional: para bordas arredondadas */
}

.categoria {
    width: 150px;  /* Tamanho fixo */
    height: 150px; /* Tamanho fixo */
    object-fit: cover; /* Garante que a imagem se ajuste sem distorção */
    border-radius: 50%; /* Formato circular */
    margin: 0 auto; /* Centraliza a imagem */
}

.mt-2 {
    font-size: 16px;  /* Ajusta o tamanho da fonte do título abaixo da imagem */
}

.caixa-org {
    width: 240px;
    position: relative;
    border: 1px solid black; 
    border-radius: 20px; 
    overflow: hidden;
    display: flex;
    gap: 30px;
}

.img-company {
    position: absolute;
    width: 100%;
    bottom: 40px;
}

.company {
    object-fit: cover;
    width: 100%;
    height: 10vh;
}

.company-photo {
    width: 50px;      /* Tamanho fixo da imagem */
    height: 50px;     /* Tamanho fixo da imagem, igual à largura para ser um círculo */
    object-fit: cover; /* Faz a imagem cobrir a área do círculo sem distorcer */
    border-radius: 50%; /* Torna a imagem circular */
    margin: 0 auto;   /* Centraliza a imagem dentro da caixa */
}

.banner-publicidade {
    width: 65%;
}

.eventos-container h1 {
    margin-bottom: 50px;
}

#event-description {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

#event-banner {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

@media screen and (max-width: 770px) {
    h3 {
        text-align: center;
    }

}