version: '3.8'

services:
  mongo:
    image: mongo
    restart: always
    container_name: mongo-container
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: senha
      MONGO_INITDB_DATABASE: admin
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8090:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: senha
      ME_CONFIG_MONGODB_URL: mongodb://root:senha@mongo:27017/
      ME_CONFIG_BASICAUTH_ENABLED: false      

  exemplo-1-service:
    build: ./web/exemplo
    container_name: exemplo-1-container
    ports:
      - "8000:8080"
    volumes:
      - ./web/exemplo:/app

  grupo-1-service:
    build: ./web/grupo-1
    container_name: grupo-1-container
    ports:
      - "8001:8081"
    volumes:
      - ./web/grupo-1:/app

  grupo-2-service:
    build: ./web/grupo-2
    container_name: grupo-2-container
    ports:
      - "8002:8082"

  grupo-3-service:
    build: ./web/grupo-3
    container_name: grupo-3-container
    ports:
      - "8003:8083"
    volumes:
      - ./web/grupo-3:/app

  grupo-4-service:
    build: ./web/grupo-4
    container_name: grupo-4-container
    ports:
      - "8004:8084"
    volumes:
      - ./web/grupo-4:/app
 
  grupo-5-service:
    build: ./web/grupo-5
    container_name: grupo-5-container
    ports:
      - "8005:8085"
    volumes:
      - ./web/grupo-5:/app
 
  exemplo-1-api:
    build: ./api/exemplo
    container_name: exemplo-1-api-container
    ports:
      - "3000:3000"
    volumes:
      - ./api/exemplo:/app
      - ./api/exemplo/uploads:/app/uploads
    env_file:
      - ./.env.exemplo
    environment:
      - MONGODB_URL=${MONGODB_URL:-mongodb://root:senha@mongo:27017/}

  grupo-1-api:
    build: ./api/grupo-1
    container_name: grupo-1-api-container
    ports:
      - "3001:3001"
    volumes:
      - ./api/grupo-1:/app
    environment:
      - MONGODB_URL=${MONGODB_URL:-mongodb://root:senha@mongo:27017/}

  grupo-2-api:
    build: ./api/grupo-2
    container_name: grupo-2-api-container
    ports:
      - "3002:3002"
    volumes:
      - ./api/grupo-2:/app
    environment:
      - MONGODB_URL=${MONGODB_URL:-mongodb://root:senha@mongo:27017/}

  grupo-3-api:
    build: ./api/grupo-3
    container_name: grupo-3-api-container
    ports:
      - "3003:3003"
    volumes:
      - ./api/grupo-3:/app
    environment:
      - MONGODB_URL=${MONGODB_URL:-mongodb://root:senha@mongo:27017/}

  grupo-4-api:
    build: ./api/grupo-4
    container_name: grupo-4-api-container
    ports:
      - "3004:3004"
    volumes:
      - ./api/grupo-4:/app
    env_file:
      - ./.env.grupo4  
    environment:
      - MONGODB_URL=${MONGODB_URL:-mongodb://root:senha@mongo:27017/}

  grupo-5-api:
    build: ./api/grupo-5
    container_name: grupo-5-api-container
    ports:
      - "3005:3005"
    volumes:
      - ./api/grupo-5:/app
    env_file:
      - ./.env.grupo5
    environment:
      - MONGODB_URL=${MONGODB_URL:-mongodb://root:senha@mongo:27017/}

  backend-image:
    build:
      context: ./api-ia/backend-image
      dockerfile: Dockerfile
    ports:
      - 9001:9001
    develop:
      watch:
      - action: sync
        path: ./api-ia/backend-image/images/webservice.py
        target: images/webservice.py
      - action: rebuild
        path: ./api-ia/backend-image/requirements.txt
    volumes:
      - ./api-ia/backend-image/images:/images

  openai-whisper-asr-webservice:
    ports:
      - '9000:9000'
    environment:
      - ASR_MODEL=base
      - ASR_ENGINE=faster_whisper
    image: 'onerahmet/openai-whisper-asr-webservice:latest'

  faster-whisper:
    image: lscr.io/linuxserver/faster-whisper:latest
    container_name: faster-whisper
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WHISPER_MODEL=tiny-int8
      - WHISPER_BEAM=1 #optional
      - WHISPER_LANG=en #optional
    volumes:
      - /path/to/faster-whisper/data:/config
    ports:
      - 10300:10300
    restart: unless-stopped