body {
  background-color: #f0f0f0;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.hidden{
  display: none;
}

.show{
  display: block;
}

.register-container {
  max-width: 450px;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
h1 span {
  color: #ff5b25;
}
.form-control {
  background: #f9f9f9;
  border: 1px solid #ddd;
  transition: 0.3s;
}
.form-control:focus {
  border-color: #ff5b25;
  box-shadow: 0 0 8px rgba(255, 91, 37, 0.5);
}
.input-group-text {
  background-color: #ff5b25;
  border: none;
  color: white;
}
.btn-primary {
  background-color: #ff5b25;
  border: none;
  color: white;
  font-weight: bold;
  transition: background 0.3s ease;
}
.btn-primary:hover {
  background-color: #e04a20;
}
p a {
  color: #ff5b25;
  text-decoration: none;
  font-weight: bold;
}
p a:hover {
  text-decoration: underline;
}
/* LOGIN */

.login-container {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}







