<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento+ | Cadastro de Evento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="img/logo.svg">
    <link rel="stylesheet" type="text/css" href="css/estilocadastroEvento.css" media="screen" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12  col-xl-6 offset-xl-3" style="margin-top:2em">

                <div class="formulário">
                    <br>
                    <div class="row">
                        <div class="col-1 offset-1">
                            <a href="index.html"><span class="material-icons" style="color:#892CDC ;">arrow_back_ios</span></a></div>
                        <div class="col-8">
                            <h2 class="text-center" style="font-size: 1.5em; color:#892CDC">Cadastrar Evento</h2>
                        </div>
                    </div>
                    <br>
                    <br>

                    <form style="margin-left: 1.5em;margin-right:1.5em">
                        <h4 style="border-left: solid 4px #892CDC; padding-left: 10px">Informações do evento</h4>
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome do evento</label>
                            <input type="text" class="form-control" id="nomeEventoInput" placeholder="" required>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-4">
                                <label for="data_inicio" class="form-label">Data de Início</label>
                                <input type="date" class="form-control" id="dataInicioInput" required>
                                <small id="form-text-data" class="form-text text-muted"></small>
                            </div>
                            <div class="mb-3 col-4">
                                <label for="horario_inicio" class="form-label">Horário de Início</label>
                                <input type="time" class="form-control" id="horarioInput" required>
                            </div>
                            <div class="mb-3 col-4">
                                <label for="preco" class="form-label">Preço</label>
                                <input type="number" class="form-control" id="precoInput" placeholder="R$" required>
                                <div id="passwordHelpBlock" class="form-text" style="color: #892CDC;">
                                    Caso seja gratuito, digite 0.
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="descricao" class="form-label">Descrição</label>
                            <textarea class="form-control" id="descricaoInput" rows="3" placeholder="Digite a descrição do evento" style="border-radius:10px ;" required></textarea>
                        </div>
                        <div class="mb-3 ">
                            <label for="url_banner" class="form-label">URL do Banner</label>
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="iconeLink"><i class="bi bi-link-45deg "></i></span>
                                <input type="text" class="form-control " id="urlLogoInput" placeholder="Digite a URL do logo " required>
                            </div>
                        </div>
                        <div class="mb-3 ">
                            <label for="url_site " class="form-label ">URL do Site</label>
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="iconeLink"><i class="bi bi-link-45deg "></i></span>
                                <input type="text" class="form-control " id="urlSiteInput" placeholder="Digite a URL do site do evento " required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="categoria" class="form-label">Categoria</label>
                            <select class="form-select" id="categoriasInput" style="border-radius: 20px;" required>
                                <option value="" selected disabled>Escolha uma categoria</option>
                                <option value="show">Show</option>
                                <option value="bazar">Bazar</option>
                                <option value="teatro">Teatro</option>
                                <option value="corrida">Corrida</option>
                                <option value="Workshop">Workshop</option>
                            </select>
                            <div id="passwordHelpBlock" class="form-text" style="color: #892CDC;">
                                A Categoria escolhida acima irá definir em qual categoria o evento se enquadra para pesquisas e filtros.
                            </div>
                        </div>
                        <br>
                        <h4 style="border-left: solid 4px #892CDC; padding-left: 10px">Localização</h4>
                        <div class="mb-3 ">
                            <label for="cep" class="form-label ">CEP</label>
                            <input type="text " class="form-control " id="cepInput" placeholder="_____-__" maxlength="9" required>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-9">
                                <label for="endereco " class="form-label ">Endereço</label>
                                <input type="text " class="form-control " id="enderecoInput" placeholder="Rua, Avenida..." disabled>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="numero" class="form-label ">Número</label>
                                <input type="text " class="form-control text-center" id="numeroInput" placeholder="nº" required>
                            </div>
                        </div>
                        <div class="mb-3 ">
                            <label for="bairro" class="form-label ">Bairro</label>
                            <input type="text " class="form-control " id="bairroInput" placeholder="" disabled>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="cidade " class="form-label ">Cidade</label>
                                <input type="text " class="form-control " id="cidadeInput" placeholder="" disabled>
                            </div>
                            <div class="form-floating-label mb-3 col-6">
                                <label for="Estado " class="form-label ">Estado</label>
                                <input type="text " class="form-control " id="estadoInput" placeholder="" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 offset-4">
                                <button type="button" class="btn btnCadastrarEvento" style="width: 100%;" onclick="dataEventoComparacao()">Cadastrar</button>
                            </div>
                        </div>
                        <br>
                        <br>
                    </form>
                </div>
                <br>
                <br>
            </div>
            <footer>
                <div class="text-center" style="color: gray;">Eventos+ 2024</div>
            </footer>
        </div>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const organizadorInput = document.getElementById("organizador");

            // Recupera o nome do usuário do Local Storage
            const nomeUsuario = localStorage.getItem("nomeUsuario");
            if (nomeUsuario) {
                organizadorInput.value = nomeUsuario; // Preenche o campo organizador
            } else {
                alert("Você precisa estar logado para cadastrar um evento.");
                window.location.href = "index.html"; // Redireciona para a página principal
            }
        });

        document.addEventListener('DOMContentLoaded', () => {
            const dataInicioInput = document.querySelector('#dataInicioInput');
            const formText = document.querySelector('#form-text-data'); // Seleciona o elemento com a classe 'form-text'

            // Adiciona o evento de validação ao campo de data
            dataInicioInput.addEventListener('input', () => {
                // Obter o valor do campo (string no formato "YYYY-MM-DD")
                const dataInicio = dataInicioInput.value;

                // Converter a data de início e a data de hoje para objetos Date
                const dataInicioEvento = new Date(dataInicio);
                const dataHoje = new Date();
                dataHoje.setHours(0, 0, 0, 0); // Zerando horas, minutos, segundos e milissegundos

                // Comparar as datas
                if (dataInicioEvento < dataHoje) {
                    formText.textContent = 'A data de início deve ser igual ou maior que a data de hoje.';
                    formText.classList.add('text-danger'); // Adiciona uma classe para destacar o erro
                    formText.classList.remove('text-muted'); // Remove estilos prévios, caso existam
                } else {
                    // Caso passe na validação, limpar mensagens de erro
                    formText.textContent = ''; // Remove o texto de erro
                    formText.classList.remove('text-danger'); // Remove a classe de erro
                    formText.classList.add('text-muted'); // Adiciona estilos padrões, se necessário
                }
            });
        });

        async function buscarCEP(cep) {
            try {
                const url = `https://viacep.com.br/ws/${cep}/json/`;
                const response = await fetch(url);
                const data = await response.json();

                if (data.erro) {
                    alert("CEP não encontrado!");
                    limparCampos();
                } else {
                    preencherCampos(data);
                }
            } catch (error) {
                console.error("Erro ao buscar o CEP:", error);
                alert("Erro ao buscar o CEP. Tente novamente.");
                limparCampos();
            }
        }

        // Função para preencher os campos com os dados do CEP
        function preencherCampos(data) {
            document.querySelector("#enderecoInput").value = data.logradouro;
            document.querySelector("#cidadeInput").value = data.localidade;
            document.querySelector("#estadoInput").value = data.estado;
            document.querySelector("#bairroInput").value = data.bairro;
        }

        // Função para limpar os campos
        function limparCampos() {
            document.querySelector("#enderecoInput").value = "";
            document.querySelector("#cidadeInput").value = "";
            document.querySelector("#estadoInput").value = "";
            document.querySelector("#bairroInput").value = "";
        }

        // Evento para disparar a busca ao sair do campo de CEP
        document.querySelector("#cepInput").addEventListener("blur", function() {
            const cep = this.value.replace(/\D/g, ""); // Remove caracteres não numéricos
            if (cep.length === 8) {
                buscarCEP(cep);
            } else {
                alert("Por favor, digite um CEP válido com 8 dígitos.");
                limparCampos();
            }
        });
        const protocolo = 'http://'
        const baseURL = 'localhost:3000'

        function dataEventoComparacao() {
            const dataInicioInput = document.querySelector('#dataInicioInput');

            // Obter o valor do campo (string no formato "YYYY-MM-DD")
            const dataInicio = dataInicioInput.value;

            // Converter a data de início e a data de hoje para objetos Date
            const dataInicioEvento = new Date(dataInicio);
            const dataHoje = new Date();
            dataHoje.setHours(0, 0, 0, 0); // Zerando horas, minutos, segundos e milissegundos

            // Comparar as datas
            if (dataInicioEvento < dataHoje) {
                alert('A data de início deve ser igual ou maior que a data de hoje.');
                return;
            }

            // Se a validação passar, continuar com o cadastro
            cadastrarEvento();
        }


        async function cadastrarEvento() {
            let nomeEventoInput = document.querySelector('#nomeEventoInput')
            let dataInicioInput = document.querySelector('#dataInicioInput')
            let precoInput = document.querySelector('#precoInput');
            let descricaoInput = document.querySelector('#descricaoInput')
            let urlLogoInput = document.querySelector('#urlLogoInput')
            let urlSiteInput = document.querySelector('#urlSiteInput')
            let enderecoInput = document.querySelector('#enderecoInput')
            let cidadeInput = document.querySelector('#cidadeInput')
            let estadoInput = document.querySelector('#estadoInput')
            let categoriasInput = document.querySelector('#categoriasInput')
            let numeroInput = document.querySelector('#numeroInput')
            let cepInput = document.querySelector('#cepInput')
            let horarioInput = document.querySelector('#horarioInput')
            let bairroInput = document.querySelector('#bairroInput')
            let data_cadastroValor = new Date()

            // Valores dos campos do formulário
            let nomeEvento = nomeEventoInput.value
            let dataInicio = dataInicioInput.value // Mantém o valor como está
            let preco = precoInput.value && parseFloat(precoInput.value) > 0 ? precoInput.value : "Grátis";
            let descricao = descricaoInput.value
            let urlLogo = urlLogoInput.value
            let urlSite = urlSiteInput.value
            let endereco = enderecoInput.value
            let cidade = cidadeInput.value
            let estado = estadoInput.value
            let categoria = categoriasInput.value
            let data_cadastro = data_cadastroValor.toISOString(); // Data no formato ISO
            let numero = numeroInput.value
            let horario = horarioInput.value
            let bairro = bairroInput.value
            let cep = cepInput.value
            const nomeOrganizador = localStorage.getItem("nomeUsuario");

            if (!nomeEvento || !dataInicio || !preco || !descricao || !urlLogo || !urlSite || !endereco || !cidade || !estado || !categoria) {
                alert('Por favor, preencha todos os campos antes de cadastrar.')
                return
            }

            try {
                const cadastroEndpoint = '/cadastro'
                const URLCompleta = `${protocolo}${baseURL}${cadastroEndpoint}`
                await axios.post(URLCompleta, {
                    nomeEvento: nomeEvento,
                    nomeOrganizador: nomeOrganizador,
                    dataInicio: dataInicio, // Envia no formato ISO ou 'YYYY-MM-DD'
                    horario: horario,
                    preco: preco,
                    descricao: descricao,
                    urlLogo: urlLogo,
                    urlSite: urlSite,
                    cep: cep,
                    endereco: endereco,
                    numero: numero,
                    cidade: cidade,
                    estado: estado,
                    categorias: categoria,
                    bairro: bairro,
                    data_cadastro: data_cadastro // Data de cadastro no formato ISO
                })

                // Limpar os campos após sucesso
                nomeEventoInput.value = ""
                horarioInput.value = ""
                dataInicioInput.value = ""
                precoInput.value = ""
                descricaoInput.value = ""
                urlLogoInput.value = ""
                urlSiteInput.value = ""
                enderecoInput.value = ""
                cidadeInput.value = ""
                estadoInput.value = ""
                categoriasInput.value = ""
                numeroInput.value = ""
                cepInput.value = ""
                bairroInput.value = ""

                alert("Evento cadastrado com sucesso!");
            } catch (error) {
                console.error("Erro ao cadastrar o evento:", error);
                alert("Erro ao cadastrar o evento. Verifique os dados e tente novamente.");
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>