@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
    font-family: "Open Sans";
}

.nav {
    /* border-bottom: 2px solid; */
    position: static;
}

#fotoPerfil {
    height: 4em;
}

div {
    display: inline-block;
}

.navegacao {
    margin: 20px;
    display: flex;
}

.margem {
    margin-top: 10px;
}

.form-control {
    border-radius: 10px;
    color: #BABABA;
    font-family: "Open Sans";
    height: 3.5em;
    border: none;
}

.btnpesquisar {
    border: none;
}

.btnpesquisar: hover {
    border: none;
    background-color: none;
}

.input-group {
    border: 2px solid #BABABA;
    border-radius: 10px;
}

.bi-search {
    margin-right: 15px;
    font-size: 1.5em;
    color: #bababa
}

.bi-search :checked {
    border: none;
}

.iconNav{
    height: 35px;
}

.iconSalvo{
    margin-right: 150px;
}
.margemIcons{
    margin-top: 25px;
}

.boxImg{
    border-radius: 10px 0px 0px 10px;
}
.boxDesc{
    background-color: gray;
    border-radius: 0px 10px 10px 0px;

}


@media screen and (max-width: 750px) {
/* body{
    background-color: aquamarine;
} */
.boxImg{
    border-radius: 10px 10px 0px 0px;
    background-color: white;
}

.boxDesc{
    background-color: gray;
    border-radius: 0px 0px 10px 10px;
}
#perfil{
}

.iconSalvo{
    margin-right: 100px;
}
.centro{
    display: flex;
  flex-wrap: wrap;
  /* background-color: blue; */
  padding: 10px;
  justify-content: center;
  align-items: center;  
}
.margemIcons{
    margin-top: 0px;

}
}