a {
    text-decoration: none;
}

i {
    font-size: 20px;
}

.navbar {
    border-bottom: 1px solid #ddd;
    padding: 40px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.search-bar {
    max-width: 600px;
    width: 100%;
    position: relative;
}

.search-bar input {
    padding-right: 40px;
}

.search-bar .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.carousel-inner img {
    margin: 0 auto;
    max-height: 550px;
    width: auto;
    display: block;
}

@media (max-width: 992px) {
    .nav-item .nav-link i {
        margin-right: 5px;
    }
    .nav-item .nav-link span {
        display: inline;
    }
    .search-bar {
        display: none;
    }
}

@media (min-width: 992px) {
    .nav-item .nav-link span {
        display: none;
    }
}