* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.destaques img {
    width: 100%;
}

.event-block {
    background-color: #ddd;
    height: 200px;
}

.category-block {
    background-color: #f8f9fa;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.recommended {
    background-color: #e63946;
}

.recent {
    background-color: #457b9d;
}

.organizer-block {
    background-color: #b7b7a4;
    height: 150px;
}

.ad-block {
    background-color: #1d3557;
    color: #fff;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa {
    border: 1px solid black; 
    border-radius: 20px; 
    overflow: hidden;
    gap: 10px;
    padding-bottom: 10px;
}

.btn {
    width: 80%;
}

.okt-img {
    width: 100%;
}

.cat-teatro {
    width: 40%;
}

.caixa-org {
    position: relative;
    border: 1px solid black; 
    border-radius: 20px; 
    overflow: hidden;
    display: flex;
    gap: 30px;
}

.img-company {
    position: absolute;
    width: 100%;
    bottom: 40px;
    
}

.company {
    width: 100%;
}

.company-photo {
    width: 50px;
}

.banner-publicidade {
    width: 65%;
}

@media screen and (max-width: 770px) {
    h3 {
        text-align: center;
    }

}