/* Adjust margin for event section */
.evento {
    margin: 50px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.evento figure{
    width: 100%;
    height: 100%;
}

.evento figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.evento h1{
    margin-bottom: 5px;
}

.evento p{
    margin-bottom: 5px;
}

.event-title {
    font-size: 32px;
    font-weight: bold;
}

.event-categories a {
    color: #6c63ff;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 10px;
    text-decoration: none;
}

.event-organizer {
    display: flex;
    gap: 15px;
}

.organizer-name{
    font-weight: 500;
}

.organizer-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.organizer-info span:nth-child(2){
    color: #6c757d;
}

.event-organizer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.date-location {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.date-location__info{
    display: flex;
    justify-content: space-between;
}

.date-location h5{
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.info-box {
    width: 48%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.info-box:nth-child(1){
    border-right: 1px solid #6c757d3c;
}

.info-box-icon{
    padding: 15px 20px;
    border-radius: 5px;
    color: #0c69cc;
    background-color: #97bffb9c;
}

.info-box-text h5{
    font-weight: 600;
    font-size: 1.2rem;
}

.info-box-text p{
    color: #6c757d;
    margin: 0;
}

.info-box-icon i{
    font-size: 1.5rem;
}

.event-description h5{
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 600;
}

.event-description p{
    margin-bottom: 25px;
}

.event-extra-info {
    display: flex;
    justify-content: space-between;
}

.extra-box {
    width: 30%;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.extra-box h6{
    margin: 0;
}

.extra-box i {
    font-size: 1.5rem;
}

.event-categories{
    margin-bottom: 30px;
}

.date-location,
.map-embed,
.event-description{
    margin: 10px 5px;
}

.card-ingresso h4{
    font-weight: 600;
    margin: 0;
    font-size: 1.4rem;
}

.card-ingresso p{
    font-weight: 500;
    margin: 0;
}

.card-ingresso .card-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.evento-options{
    display: flex;
    justify-content: space-between;
}

.lembrete button{
    padding: 10px 25px;
    border: none;
    font-size: 1.1rem;
    color: #5149da;
    background-color: #a09bf77d;
    border-radius: 5px;
    font-weight: 500;
}

.lembrete button span{
    margin-right: 10px;
}

.curtir{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.curtir i{
    font-size: 1.5rem;
    color: #5149da;
}

.evento-info{
    margin: 0 5px;
}

.ingresso-and-options{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
