.form-container{
    width: 40%;
    margin: 40px auto;
    padding: 40px 30px;
    box-shadow: 0 0 30px 2px #74979c44;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.alert{
    margin: 0;
}

.form-container h5{
    margin: 0 0 8px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-item label{
    margin-bottom: 15px;
}

.form-item label{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-item label span:nth-child(2), .secao-form span:nth-child(2){
    color: #6d6d6d;
    font-size: 0.9rem;
}
