/*evento em destaque*/
.evento-destaque {
    width: 80%;
    margin: 30px auto;
}

.evento-destaque h2 {
    margin-bottom: 25px;
    font-size: 2rem;
    font-weight: 600;
}

.custom-button {
    border: 1px solid #d3d3d3;
    background-color: #fff;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s ease;
}

/*categorias*/
.custom-button i {
    font-size: 1.5rem;
    margin-right: 8px;
}

.custom-button{
    cursor: pointer;
}

.container h3{
    font-size: 2rem;
    font-weight: 600;
}

.custom-button:hover {
    background-color: #f8f9fa;
    border-color: #007bff;
    color: #007bff;
}

.my-5{
    width: 80%;
}

.custom-button {
    border-radius: 0;
}

/*todos os eventos*/
.eventos h3{
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}

.categorias h2{
    margin-bottom: 25px;
    font-size: 2rem;
    font-weight: 600;
}

.eventos{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
}

.eventos__list a{
    text-decoration: none;
}

.eventos__list{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    border-radius: 8px;
    box-shadow: 0px 0px 25px 1px #6277a827;
    cursor: pointer;
    transition: all 500ms;
}

.card:hover{
    transform: translateY(-10px);
    transition: all 500ms;
}

.card-img-top {
   height: 160px;
    object-fit: cover;
}

.card-body {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-body h5, .card-body h6, .card-body p{
    margin: 0;
}

.card-link+.card-link{
    margin-left: 0;
}

.card-link{
    text-decoration: none;
    font-weight: 500;
}

.card-body h6{
    color: #6b25dcb5;
    font-weight: 600;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;

    /*colocando 3 pontinhos*/
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis;
    width: 100%;
}

.card-text {
    color: #6c757d;
    font-size: 0.9rem;
    line-height: 1.8;

    /*colocando 3 pontinhos*/
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 3; 
}

.categories{
    display: flex;
    gap: 10px;
}

.card-link {
    color: #007bff;
    font-size: 0.9rem;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}

.categories {
    font-size: 0.8rem;
    color: #6c757d;
}

.categorias .container{
    padding: 0;
}
