<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="css/styles-4.css">
    <title>Menu Play Eventos</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color: #d00000;">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-center align-items-center">
                <a class="navbar-brand text-white" href="index.html">
                    <img src="img/logo-4.png" alt="">
                </a>
                <ul class="collapse navbar-collapse" style="list-style: none; gap: 20px;">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#categorias">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="eventos.html">Eventos</a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <form class="d-flex mx-5" style="min-width: 400px;">
                    <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search">
                </form>
            </div>

            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <button id="btnLogin" class="w-50 btn btn-light me-2" data-bs-toggle="modal"
                        data-bs-target="#loginModal">Login</button>
                    <button id="btnSignup" class="w-50 btn btn-light me-2" data-bs-toggle="modal"
                        data-bs-target="#signupModal">Cadastro</button>
                    <button id="btnLogout" class="w-70 btn btn-light me-2 d-none">Sair</button>
                </div>
                <a id="btnCreateEvent" href="#" class="w-50 nav-link text-white me-3">
                    <button class="btn btn-light w-100">Criar Evento</button>
                </a>
                <img src="img/profile-4.png" alt="">
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="container py-4">
        <div class="card mb-4">
            <img id="event-banner" src="" class="card-img-top" alt="Banner do Evento">
            <div class="card-body d-flex justify-content-between">
                <h1 id="event-title" class="card-title"></h1>
            </div>
            <div class="card-footer d-flex align-items-center">
                <h2 id="event-organizer" class="mr-3" style="font-size: 20px;"></h2>
            </div>
        </div>

        <!-- Detalhes do evento -->
        <div class="row g-5 d-flex align-items-stretch py-4">
            <div class="col-12 col-md-6">
                <div class="bg-danger d-flex align-items-center p-4 h-100">
                    <img src="img/imggp4/solar_calendar-bold.png" alt="calendario" class="me-3">
                    <h5 id="event-date" class="text-white"></h5>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="bg-danger d-flex flex-row align-items-center p-4 h-100">
                    <img src="img/imggp4/ion_location-sharp.png" alt="location" class="me-3">
                    <div>
                        <h5 id="event-address" class="text-white"></h5>
                        <p id="event-location" class="text-white"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Descrição do evento -->
        <section class="mb-4 py-4">
            <h1>Descrição</h1>
            <p id="event-description" style="font-size: 18px;"></p>
        </section>
    </main>

    <!-- Footer -->
    <footer class="text-white mt-5" style="background-color: #d00000;">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-4">
                    <a class="navbar-brand text-white" href="#">
                        <img src="img/logo-4.png" alt="">
                    </a>
                </div>
                <div class="col-md-4">
                    <h5>Contato</h5>
                    <p>+55 (11) 2063-6637</p>
                    <p>contato@playeventos.com</p>
                </div>
                <div class="col-md-4">
                    <h5>Nossas redes</h5>
                    <a href="#" class="text-white me-2">Instagram</a>
                    <a href="#" class="text-white me-2">Facebook</a>
                    <a href="#" class="text-white">X</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Modal de Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="loginOption" class="form-label">Escolha o tipo de login</label>
                        <select class="form-select" id="loginOption" required>
                            <option value="" selected disabled>Selecione</option>
                            <option value="usuario">Usuário</option>
                            <option value="empresa">Empresa</option>
                        </select>
                    </div>

                    <!-- Formulário de Usuário -->
                    <form id="loginForm" class="d-none">
                        <div class="mb-3">
                            <label for="loginLogin" class="form-label">Login</label>
                            <input type="text" class="form-control" id="loginLogin" name="login" required>
                        </div>
                        <div class="mb-3">
                            <label for="loginPassword" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="loginPassword" name="password" minlength="8" required>
                        </div>
                        <div id="loginMessage" class="alert d-none" role="alert"></div>
                        <button type="submit" class="btn btn-primary w-100">Entrar</button>
                    </form>

                    <!-- Formulário de Empresa -->
                    <form id="loginOrgForm" class="d-none">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="senha" name="senha" maxlength="8" minlength="8" required>
                        </div>
                        <div id="loginOrgMessage" class="alert d-none" role="alert"></div>
                        <button type="submit" class="btn btn-primary w-100">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Cadastro -->
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel">Cadastro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Escolha do tipo de cadastro -->
                    <div class="mb-3">
                        <label for="signupOption" class="form-label">Escolha o tipo de cadastro</label>
                        <select class="form-select" id="signupOption" required>
                            <option value="" selected disabled>Selecione</option>
                            <option value="usuario">Usuário</option>
                            <option value="empresa">Empresa</option>
                        </select>
                    </div>

                    <!-- Formulário de Usuário -->
                    <form id="signupForm" class="d-none">
                        <div class="mb-3">
                            <label for="signupLogin" class="form-label">Login</label>
                            <input type="text" class="form-control" id="signupLogin" name="login" required>
                        </div>
                        <div class="mb-3">
                            <label for="signupType" class="form-label">Tipo de Cadastro</label>
                            <select class="form-select" id="signupType" name="type" required>
                                <option value="">Selecione</option>
                                <option value="cpf">CPF</option>
                                <option value="cnpj">CNPJ</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="signupDocument" class="form-label">CPF ou CNPJ</label>
                            <input type="text" class="form-control" id="signupDocument" name="document" required>
                        </div>
                        <div class="mb-3">
                            <label for="signupPhone" class="form-label">Telefone</label>
                            <input type="tel" class="form-control" id="signupPhone" name="phone" required>
                        </div>
                        <div class="mb-3">
                            <label for="signupEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="signupEmail" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="signupPassword" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="signupPassword" name="password" minlength="8" required>
                        </div>
                        <div id="signupMessage" class="alert d-none"></div>
                        <button type="submit" class="btn btn-primary w-100">Cadastrar Usuário</button>
                    </form>

                    <!-- Formulário de Empresa -->
                    <form id="signupOrgForm" class="d-none">
                        <div class="mb-3">
                            <label for="nomeEmpresa" class="form-label">Nome da Empresa</label>
                            <input type="text" class="form-control" id="nomeEmpresa" name="nome"
                                placeholder="Digite o nome da Empresa" required>
                        </div>
                        <div class="mb-3">
                            <label for="telefone" class="form-label">Telefone</label>
                            <input type="tel" class="form-control" id="telefone" name="telefone"
                                placeholder="Ex.: 1111-1111" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="Digite o email" required>
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="senha" name="senha"
                                placeholder="Digite a senha" minlength="8" required>
                        </div>
                        <div class="mb-3">
                            <label for="cnpj" class="form-label">CNPJ</label>
                            <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="Digite o CNPJ"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="logo" class="form-label">URL do logo</label>
                            <input type="url" class="form-control" id="logo" name="url_logo"
                                placeholder="Ex.: https://example.com/logo.jpg" required>
                        </div>
                        <div class="mb-3">
                            <label for="banner" class="form-label">URL do banner</label>
                            <input type="url" class="form-control" id="banner" name="url_banner"
                                placeholder="Ex.: https://example.com/banner.jpg" required>
                        </div>
                        <div class="mb-3">
                            <label for="cep" class="form-label">CEP</label>
                            <input type="text" class="form-control" name="cep" id="cep" placeholder="Ex.: 12345678" maxlength="8" minlength="8" required>
                        </div>
                        <div class="mb-3">
                            <label for="estado" class="form-label">Estado</label>
                            <select class="form-select" id="estado" name="estado" required>
                                <option value="" selected disabled>Escolha um estado</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="cidade" class="form-label">Cidade</label>
                            <input type="text" class="form-control" id="cidade" name="cidade"
                                placeholder="Ex.: São Paulo" required>
                        </div>
                        <div class="mb-3 row g-2">
                            <div class="col-md-9">
                                <label for="endereco" class="form-label">Endereço</label>
                                <input type="text" class="form-control" id="endereco" name="endereco"
                                    placeholder="Ex.: Rua nome" required>
                            </div>
                            <div class="col-md-3">
                                <label for="numero" class="form-label">Número</label>
                                <input type="number" class="form-control" id="numero" name="numero"
                                    placeholder="Ex.: 23" required>
                            </div>
                        </div>
                        <div id="signupOrgMessage" class="alert d-none"></div>
                        <button type="submit" class="btn btn-danger w-100">Cadastrar Empresa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/detalhes.js"></script>
    <script src="js/formHandler.js"></script>
</body>
</html>